/* 
    Created on : 18-may-2019, 17:03:05
    Author     : yasser
*/





/* Estilos aplicados a temp-header */

html {
    overflow-x: hidden;
}

body {
    background-color: #EEEEEE;
}
.navbar {
    background-image: linear-gradient(#A11414, #D72323);
    height: auto;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    width: 104%;
}

#menu-icon {
    width: 70px;
    height: 40px;
}

.nav-link, .nav-link:hover {
    color: white;
    font-size: 13px;
    height: 60px;
    padding-top: 20px;
}

.nav-link:hover {
    text-decoration: underline white;
}

.nav-link:focus {
    background-color: white;
    text-decoration: underline #D72323;
    color: #D72323;
    padding: 20px;
}

/*.nav-link-perfil, .nav-link-perfil:hover {
    color: white;
    font-size: 13px;
    height: 60px;
    padding-top: 20px;
    margin-right: 80px;
}

.nav-link-perfil:focus {
    color: white;
}*/

.bt-perfil {
    color: white;
    font-size: 12px;
    background-image: linear-gradient(#D72323, #A11414);
    font-weight: 600;
    width: 60%;
    margin-right: 80px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 170px;
    border-radius: 30px;
    height: 50px;
}

.bt-perfil:hover {
    background-image: linear-gradient(#950F0F, #950F0F);
}

.dropdown-item {
    font-size: 13px;
}

#dropdown3 {
    margin-top: 17px;
}

#logotipo {
    width: 170px;
    height: 110px;
    margin-right: 30px;
}

#logo-user {
    width: 50px;
    height: 30px;
    
}

#mark-red {
    width: 15px;
    height: 15px;
    margin-bottom: 1px;
}

hr {
    border-color: #D72323;
}

#cerrarsesion {
    color: white;
    font-size: 12px;
    background-image: linear-gradient(#D72323, #A11414);
    font-weight: 600;
    width: 60%;
    margin-right: 80px;
    margin-left: 20px;
    width: 170px;
    border-radius: 30px;
    height: 50px;
}

#cerrarsesion:hover {
    background-image: linear-gradient(#950F0F, #950F0F);
}

/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/



/* Estilos aplicados a temp-login.php */
#login {
    background-color: #303841;
    padding-top: 20px;
    padding-left: 40px;
    
}

.form-control {
    width: 300px;
}

.btn {
    margin-left: 20px;
    width: 170px;
    border-radius: 30px;   
}

#signin {
    color: white;
    font-size: 12px;
    background-color: #D72323;
    border: solid 3px #D72323;
    font-weight: 600;
}

#signin:hover {
    color: black;
    background-color: #EEEEEE;
    border: solid 3px #EEEEEE;
}

#signup {
    color: white;
    font-size: 12px;
    background-color: #303841;
    border: solid 3px white;
    font-weight: 600;
}

#signup:hover {
    color: black;
    background-color: #EEEEEE;
    border: solid 3px #EEEEEE;
}

#recover_pass {
    text-decoration: underline #D72323;
    font-size: 12px;
    color: white;
}

#recover {
    margin-left: 40px;
    padding-top: 10px;
}



/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/



/* Estilos aplicados a temp-search.php */

#back {
    background-color: #D72323;
    padding-bottom: 20px;
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#search {
    background-color: #3A4750;
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 2px 2px 3px black; 
}

.search-control {
    color: white;
    font-size: 16px;
    text-decoration: underline #D72323;
}

#points1, #points2 {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.option {
    height: 50px;
    width: 160px;
    margin-top: 10px;
    text-align: center;
    color: white;
    background-image: linear-gradient(#303841, #3A4750, black );
    border:none;
}

#search-btn {
   width: 90%;
   height: 40px;
   margin-left: 5%;
   margin-top: 20px;
   background-image: linear-gradient(#D72323, #A11414);
   color: white;
   font-size: 13px;
   box-shadow: 2px 2px 3px black;
   font-weight: 600;
   border: none;
}

#search-btn:hover {
    background-image: linear-gradient(#950F0F, #950F0F);
}

#mark-white {
    width: 20px;
    height: 20px;
    margin-bottom: 1px;
}



/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/



/* Estilos aplicados a temp-welcome.php */

#welcome {
    margin-top: 30px;
    margin-bottom: 300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


#title-welcome {
    color: #D72323;
    margin-bottom: 30px;
}



/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/

/* Estilos aplicados a temp-footer.php */


#page-footer {
   /* background-color: #D72323;*/
    background-image: linear-gradient(#D72323, #A11414);
    width: 104%;
    -webkit-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
    position: fixed;
    bottom: 0;
}

#icon2, #icon3 {
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

#icon1 {
   width: 30px;
   height: 30px;
   margin-right: 5px;
   margin-left: 8px;
}

#p-footer1 {
    margin-top: 12px;
}

.info-footer {
    color: white;
    font-size: 13px;
}



/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/



/* Estilos aplicados a temp-registration.php */

#back-regist {
    background-color: #EEEEEE;
}

#personal {
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#contacto {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#title-registration1, #title-registration2 {
    color: #D72323;
    font-weight: 600;
    margin-bottom: 50px;
}

.regist-control {
    font-size: 13px;
    font-weight: 600;
    margin-left: 20%;
}

.regist {
    width: 50%;
    height: 40px;
    margin-left: 20%;
    box-shadow: inset 0px 5px #EEEEEE;
    padding: 10px;
    font-size: 13px;
}

#regist_numero, #regist_puerta {
    width: 10%;
}

#regist_postal {
    width: 15%;
}

#btn-regist {
    margin-bottom: 200px;
    margin-left: 70px;
    background-image: linear-gradient(#D72323, #A11414);
    color: white;
    font-size: 13px;
    width: 120px;
    height: 40px;
    text-align: center;
    font-weight: 600;
    box-shadow: 2px 2px 3px black;
}

#btn-regist:hover {
    background-image: linear-gradient(#950F0F, #950F0F);
}

.mensaje {
    font-size: 12px;
    color: red;
    margin-left: 20%;
}


/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/



/* Estilos aplicados a temp-cars.php y temp-van.php*/

#group-a, #group-b, #group-c, #group-d, #group-e {
    padding: 40px;
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.cars {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#car-final1, #car-final2 {
    margin-bottom: 300px;
}

.title-car {
    margin-top: 30px;
    margin-left: 5%;
}

#image-plazas, #image-cambio, #image-combustible, #image-maletas, #image-puertas {
    margin-left: 40px;
}

#image-air {
    margin-left: 60px;
}

.info-accesories {
    margin-top: 50px;
    margin-bottom: 40px;
}

.car-imagen {
    width: 100%;
}

.info {
    font-size: 13px;
}



/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/



/* Estilos aplicados a "temp-services.php" */

#title-coberturas {
    padding: 40px;
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#coberturas {
    width: 50%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px;
    text-align: center;
}

#basica {
    background-color: white;
}

#media {
    background-color: #959595;
    color: white;
}

#premium {
    background-color: #303841;
    color: white;
}

.info-cobertura {
    font-size: 15px;
}

.title-cobertura, .info-cobertura {
    margin-left: 10px;
    margin-right: 10px;
}

.info-cobertura {
    margin-top: 20px;
}

.title-cobertura {
    margin-top: 30px;
}

.ampliación {
    font-size: 40px;
}



/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/


/* Estilos aplicados a temp-extras */

#sillitas, #conductor { 
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 530px;
    padding: 30px;
    background-color: white;
    color: black;
}

#parrafo1, #parrafo2 {
    font-size: 14px;
}

#conductor {
    margin-bottom: 300px;
}

#imagen-extra1, #imagen-extra2 {
    width: 100%;
    height: 300px;
}



/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/



/* Estilos aplicados a modales */

.modal-content {
    background-color: #3A4750;
}

.modal-title {
    color: white;
}



/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/



/* Estilos aplicados a temp-navertical.php */



.config {
    background-color: #3A4750;
    box-shadow: 2px 2px 3px black;
    padding: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 105px;
}

.title-config {
    color: white;
    margin-left: 20px;
}

.nav-config {
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}

.nav-config:hover {
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: underline;
}

#btn-modif1, #btn-modif2 {
    margin-bottom: 200px;
    margin-left: 70px;
    background-image: linear-gradient(#D72323, #A11414);
    color: white;
    font-size: 13px;
    width: 160px;
    height: 40px;
    text-align: center;
    font-weight: 600;
    box-shadow: 2px 2px 3px black;
    margin-top: 20px;
}

#btn-modif1:hover {
    background-image: linear-gradient(#950F0F, #950F0F);
}

#btn-modif2:hover {
    background-image: linear-gradient(#950F0F, #950F0F);
}



/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/



/* Estilos aplicados a temp-regvehiculos.php */


#btn-regveh {
    margin-bottom: 200px;
    margin-left: 70px;
    background-image: linear-gradient(#D72323, #A11414);
    color: white;
    font-size: 13px;
    width: 160px;
    height: 40px;
    text-align: center;
    font-weight: 600;
    box-shadow: 2px 2px 3px black;
    margin-top: 20px;
}

#btn-regveh:hover {
    background-image: linear-gradient(#950F0F, #950F0F);
}



/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/



/* Estilos aplicados a temp-vehiculosreg.php */

.tabla_vehiculos, tr, td, th {
    border: 1px solid black;
    background-color: white;
}

.tabla_vehiculos {
    text-align: center;
    margin-bottom: 300px;
    margin-right: 20px;
}

tr, td, th {
    padding: 10px;
}

.eliminar {
    background-color: #3A4750;
    color: white;
    font-size: 13px;
    width: 80px;
    height: 30px;
    text-align: center;
    font-weight: 600;
    box-shadow: 2px 2px 3px black;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
}

.eliminar:hover {
    background-image: linear-gradient(#950F0F, #950F0F);
}

.ocult {
    visibility: hidden;
}



/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/


/* Estilos aplicados a temp-alquilar.php */

.alquilar-btn {
    margin-left: 60%;
    margin-top: 50%;
    margin-bottom: 20px;
    background-image: linear-gradient(#D72323, #A11414);
    color: white;
    font-size: 13px;
    width: 30%;
    height: 40px;
    text-align: center;
    font-weight: 600;
    box-shadow: 2px 2px 3px black;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
};

.alquilar-btn:hover {
    background-image: linear-gradient(#950F0F, #950F0F);
}

.tipo {
    color: #D72323;
    margin-top: 20px;
    margin-left: 5%;
}

.precio-alquiler {
    margin-left: 5%;
}



/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/


/* Estilos aplicados a temp-reservar.php */

#reser {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.titulo-reserva {
    color: #D72323;
    margin-top: 20px;
}

#separador {
    margin-bottom: 500px;
}

#price {
    margin-top: 30px;
    margin-left: 55%;
    color: #D72323;
}

.btn-pagar {
    margin-bottom: 300px;
    background-image: linear-gradient(#D72323, #A11414);
    color: white;
    font-size: 13px;
    height: 40px;
    text-align: center;
    font-weight: 600;
    box-shadow: 2px 2px 3px black;
    border: none;
    border-radius: 20px;
    width: 150px;
}

.btn-pagar:hover {
    background-image: linear-gradient(#950F0F, #950F0F);
}


/*----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------
----------------------------------------------------------------*/



/* Estilos aplicados a temp-valoraciones.php */


.valoracion {
    width: 60%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.notaval {
    margin-top: 15%;
}

.image-user {
    width: 110px;
    height: 110px;
}
    


#btn-valorar {
    margin-top: 30px;
    background-image: linear-gradient(#D72323, #A11414);
    color: white;
    font-size: 13px;
    height: 40px;
    text-align: center;
    font-weight: 600;
    box-shadow: 2px 2px 3px black;
    border: none;
    border-radius: 20px;
    width: 150px;
    margin-left: 30px;
}

#btn-valor {
    margin-top: 30px;
    background-image: linear-gradient(#D72323, #A11414);
    color: white;
    font-size: 13px;
    height: 40px;
    text-align: center;
    font-weight: 600;
    box-shadow: 2px 2px 3px black;
    border: none;
    border-radius: 20px;
    width: 150px;
    margin-left: 30%;
}

#btn-valorar:hover, #btn-valor:hover {
    background-image: linear-gradient(#950F0F, #950F0F);
}

#valor {
    width: 40%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.regist-controlopi {
    font-size: 15px;
    font-weight: 600;
}

#cli {
    margin-left: 10px;
}

#fecha {
    margin-left: 10px;
}

.valoracio {
    margin-top: 15%;
}

.tercero, .primero {
    margin-top: 10px;
}


